body {
  height: 100vh;
  width: 100vw;
  background: url(../src/image/pexels-pixabay-414660.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.text {
  z-index: 2;
}

h1, h2 {
  font-family: 'Dancing Script', cursive;
  margin: 2.5rem auto;
  width: 50%;
  font-size: 2.0rem;
  text-align: center;
  z-index: 2;
}


.App__button {
  position: absolute;
  top: calc(100vh / 2);
  left: calc(100vw / 2 - 50px);
  width: 100px;
  height: 100px;
  background-color: rgb(237, 229, 72);
  border-radius: 50%;
  margin: 0;
  border: none;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Open Sans', sans-serif;
  z-index: 1;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}

.lupen-1 {
  position: absolute;
  top: calc(100vh / 2 - 2px);
  left: calc(100vw / 2 - 198px);
  width: 150px;
  height: 100px;
  z-index: 0;
}

.lupen-2 {
  position: absolute;
  top: calc(100vh / 2 - 108px);
  left: calc(100vw / 2 - 162px);
  width: 140px;
  height: 140px;
  z-index: 0;
}

.lupen-3 {
  position: absolute;
  top: calc(100vh / 2 - 141px);
  left: calc(100vw / 2 - 48px);
  width: 100px;
  height: 150px;
  z-index: 0;
}

.lupen-4 {
  position: absolute;
  top: calc(100vh / 2 - 108px);
  left: calc(100vw / 2 + 18px);
  width: 140px;
  height: 140px;
  z-index: 0;
}

.lupen-5 {
  position: absolute;
  top: calc(100vh / 2 + 2px);
  left: calc(100vw / 2 + 45px);
  width: 150px;
  height: 100px;
  z-index: 0;
}

.lupen-6 {
  position: absolute;
  top: calc(100vh / 2 + 69px);
  left: calc(100vw / 2 + 22px);
  width: 140px;
  height: 140px;
  z-index: 0;
}

.lupen-7 {
  position: absolute;
  top: calc(100vh / 2 + 90px);
  left: calc(100vw / 2 - 54px);
  width: 100px;
  height: 150px;
  z-index: 0;
}

.lupen-8 {
  position: absolute;
  top: calc(100vh / 2 + 70px);
  left: calc(100vw / 2 - 161px);
  width: 140px;
  height: 140px;
  z-index: 0;
}